.name{
    text-align: center;
    background-color: #323f4b;
}

.mychat{
    background-color: #47a3f3;
    text-align: end;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;  
    padding: 8px;
}

.reply{
    background-color: #52606d;
    text-align: left;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; 
    padding: 8px;     
}

.chat{
    color: white;
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 70vh;
    width: 25vw;
    background-size: cover;
}

.place{
    padding: 10px;
}